#Minecraft server properties
#Fri Feb 19 06:30:45 AEDT 2021
allow-flight=true
allow-nether=true
broadcast-console-to-ops=true
broadcast-rcon-to-ops=true
difficulty=easy
enable-command-block=true
enable-query=true
enable-rcon=true
enforce-whitelist=false
force-gamemode=false
function-permission-level=2
gamemode=survival
generate-structures=true
generator-settings=
hardcore=false
level-name=world
level-seed={{ world_seed }}
level-type=terraforged
max-build-height=256
max-players=20
max-tick-time=60000
max-world-size=29999984
motd=Valhelsia 2 Server
network-compression-threshold=256
online-mode=true
op-permission-level=1
player-idle-timeout=0
prevent-proxy-connections=false
pvp=false
query.port=25565
rcon.password={{ rcon_password }}
rcon.port=25575
resource-pack=
resource-pack-sha1=
server-ip=
server-port=25565
snooper-enabled=true
spawn-animals=true
spawn-monsters=true
spawn-npcs=true
spawn-protection=16
use-native-transport=true
view-distance=10
white-list=true
